.jupyter/
notebooks/.jupyter/
__pycache__/
*.pyc

model.joblib

athena_data/

oasst_predictions.csv
oasst_predictions_full.csv

.DS_Store

.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
clean_data.zip
